<%= turbo_frame_tag 'history' do %>
  <div class="w-full">
    <% content_for :title, "History" %>
    <ul role="list" class="space-y-6">
      <% @history.each do |event| %>
        <li class="relative flex gap-x-4">
          <div class="absolute top-0 left-0 flex justify-center w-6 -bottom-6">
            <div class="w-px bg-gray-200"></div>
          </div>
          <div class="w-full">
            <%= render event %>
          </div>
        </li>
        <li>
        </li>
      <% end %>
    </ul>
    <div class="flex w-full mt-6 gap-x-3">
      <%= gravatar_for(current_user, class: 'w-6 h-6') %>
      <%= render "comments/form", comment: Comment.new, project: @project %>
    </div>
  </div>
<% end %>
