<div id="<%= dom_id project_user %>" class="flex min-w-0 gap-x-4">
  <%= gravatar_for(project_user.user, class: 'w-12 h-12 relative') %>
  <div class="flex-auto min-w-0">
    <p class="font-semibold text-gray-900 text-sm/6"><%= project_user.user_username %></p>
    <p class="mt-1 text-gray-500 truncate text-xs/5"><%= project_user.user_email %></p>
  </div>
</div>
